<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obter mais informações sobre como configurar seu aplicativo ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="ProntonlineConnectionString" connectionString="Data Source=localhost;Initial Catalog=Prontonline;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ProntonlineConnectionString2" connectionString="Data Source=localhost;Initial Catalog=Prontonline;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

</configuration>
